@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colors */
    --white: #ffffff;
    --color01: #f9f0ff;
    --color02: #8c6991;
    --color03: #2f1533;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}

body {
    background: url(images/background-pattern-mobile.svg) top center repeat-x;
    background-color: var(--color01);
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    background-color: white;
    width: 340px;
    padding: 25px 25px 0 25px;
    margin-top: 10rem;
    border-radius: 10px;
}

header {
    display: flex;
}

.star-icon {
    width: 20px;
}

h1 {
    color: var(--color03);
    font-size: 1.90em;
    padding-left: 25px;
}

.accordion {
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 3f 1f;
    border-bottom: 1px solid var(--color01);
}

.last {
    border-bottom: none;
}

h2 {
    grid-column: 1;
    grid-row: 1;
    color: var(--color03);
    width: 225px;
    font-size: 16px;
    margin: 25px 0;
}

button {
    grid-column: 2;
    grid-row: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.plus-minus {
    position: relative;
    pointer-events: none;
}

p {
    grid-column: 1/3;
    grid-row: 2;
    color: var(--color02);
    width: 290px;
    margin-bottom: 25px;
}

.hide {
    display: none;
}